<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: white;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

    </style>
</head>
<body>


<div>
    <ul>
        <li style="float:right">
            <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
        </li>
        <li class="active" style="float:right">
            <a href="#" th:text="${user.username}"></a>
        </li>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </ul>
</div>


<div th:switch="${codes}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No codes generated yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Codes</h2>
                <form action="#" th:action="@{/generate}" th:object="${addCodeDTO}" method="post">
                    <label for="validMinutes">Generate a new code: </label>
                    <select th:field="*{validMinutes}" id="validMinutes">
                        <option th:value="1" th:text="'1 minute'"></option>
                        <option th:value="2" th:text="'2 minutes'"></option>
                        <option th:value="5" th:text="'5 minutes'"></option>
                        <option th:value="10" th:text="'10 minutes'"></option>
                        <option th:value="20" th:text="'20 minutes'"></option>
                        <option th:value="30" th:text="'30 minutes'"></option>
                        <option th:value="60" th:text="'60 minutes'"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>

                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Valid Until</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="code : ${codes}">
                        <td th:text="${code.code}"></td>
                        <td th:text="${code.validUntil}"></td>
                        <td><a th:href="@{/edit/{id}(id=${code.id})}" class="btn btn-primary"><i
                                class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${code.id})}" class="btn btn-primary"><i
                                class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>